#main {display: flex; height: 95%; overflow: hidden; border: 1px solid #969696; border-top: none;}
#container {display: flex; height: 100vh; overflow: hidden; flex-direction: column;}
#eventsDisplay {background-color:#343434; flex:1; overflow-y:auto; height:100%;}
#rightBar {background-color:#111111; overflow-y:auto; width:40%; height:100%;}
#topBar {display: flex; flex-direction: row; overflow: hidden; border: 1px solid #969696; height:5%; gap: 1%; padding-top: 1%; padding-bottom: 1%; padding-right: 1%; padding-left: 1%;}}
#eventList {flex-direction: column; gap: 0px; background-color:#343434;}
#eventButton {border-radius: 3px; background-color: #de00cf; color: #ffffff; border: none;}
.eventSect {border: 1px dashed #919191; height: 20vh;}
h2 {font-size:20px; color:#ababab; text-align: center; font-family: Helvetica;}
p {font-size:5px; font-family: Helvetica; color:#999999;}
